@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.perfilImg {
  width: 200px;
  height: 200px;
  background: url("/public/assets/perfil2.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}

.text_shadow {
  text-shadow: -4px 5px 22px #11172b;
}
